.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 21.87rem;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  margin: 1.56rem;
  border-radius: 0.5rem;
  padding: 0.93rem;
  position: relative;
  &__image {
    width: 11.25rem;
    height: 12.5rem;
    > img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    > h4 {
      text-transform: uppercase;
      margin-block: 0.62rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__text {
    > p {
      text-transform: capitalize;
      font-weight: 300;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 15px;
    }
  }

  > span {
    position: absolute;
    right: 0;
    top: 30%;
    width: 4.37rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #f9f9f9;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 300;
  }

  &__btn {
    padding: 0.93rem;
    width: 100%;
    > button {
      background-color: #000;
      cursor: pointer;
      width: 100%;
      height: 2.81rem;
      font-size: 1rem;
      font-weight: 300;
      color: #f9f9f9;
      border-radius: 6px;
    }
  }
}

.star {
  position: absolute;
  left: 15px;
  top: 15px;
}
