.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px;
  border: 3px solid #000;
  margin: 25px;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  &__image {
    width: 150px;
    height: 200px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    > h4 {
      text-transform: uppercase;
      margin-block: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__text {
    > p {
      text-transform: capitalize;
      font-weight: 300;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 15px;
    }
  }

  > span {
    position: absolute;
    right: 0;
    top: 30%;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #f9f9f9;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: 300;
  }
}
