.cart {
  padding-block: 1.25rem;
  min-height: 100vh;
  &__main {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__content {
    margin: 1.56rem;
    width: 21.87rem;
    padding: 1.25rem;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    &__img {
      width: 9.375rem;
      height: 9.375rem;
      > img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      > h4 {
        text-transform: uppercase;
        margin-block: 0.62rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      > span {
        padding-block: 0.2rem;
        padding-inline: 0.7rem;
        background-color: #000;
        color: #f9f9f9;
        border-radius: 6px;
        font-weight: 300;
      }
    }
  }

  &__price {
    > p {
      font-weight: 500;
      margin-top: 0.625rem;
    }
  }

  &__btn {
    margin-top: 0.625rem;
    span {
      padding-inline: 0.5rem;
    }
    > button {
      position: relative;
      top: 3px;
      border: none;
      background: none;
      cursor: pointer;
      > svg {
        border-radius: 50%;
        &:hover {
          background: gainsboro;
        }
      }
    }
  }

  &__total {
    width: 100px;
    &__btn {
      width: 100%;
      height: 60px;
      border-radius: 6px;
      background: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 20px;
      > a {
        color: #f9f9f9;
        font-weight: 300;
        letter-spacing: 2px;
      }
    }
    &__border {
      position: absolute;
      right: 0;
      margin-top: 1.56rem;
      width: 300px;
      padding: 20px 20px 10px 20px;
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
      border-radius: 0.5rem;
    }
  }
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  &:hover {
    background: gainsboro;
  }
}

.empty {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  &__image {
    width: 400px;
    img {
      width: 100%;
    }
  }
  &__text {
    h4 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    > a {
      background: #ff735c;
      padding-block: 10px;
      border-radius: 30px;
      font-weight: 500;
      letter-spacing: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
    }
  }
}
